<h1>New division</h1>

<form action="/wizard_divide">
  <label for="div_1">
    Divide this:
  </label>
  <input id="div_1" name="first_num" text="text">

  <label for="div_2">
    by this:
  </label>
  <input id="div_2" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
